* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

body {
  font-family: 'Hiragino Mincho Pro',serif;
  overflow-x: hidden;
  line-height: 1.5;
}

body * {
  background-position: center;
}

img {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 91%;
}

@media print, screen and (min-width: 768px) {
  .container {
    width: 75%;
  }
}

.title {
  font-size: 2.3rem;
  padding-top: 55px;
  padding-bottom: 9px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  font-size: 2.3rem;
  padding-top: 55px;
  padding-bottom: 9px;
}

.title a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.title a::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  transition: -webkit-transform .3s;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.title a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.fadein {
  opacity: 0;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

.scroll-in {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.blur {
  -webkit-filter: blur(11px);
          filter: blur(11px);
  -webkit-transition: -webkit-filter 2s;
  transition: -webkit-filter 2s;
  transition: filter 2s;
  transition: filter 2s, -webkit-filter 2s;
}

.drawer-list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(100%);
          transform: translate(100%);
}

.drawer-list li {
  list-style: none;
  white-space: nowrap;
  -webkit-transform: translatex(100vw);
          transform: translatex(100vw);
}

.drawer-list a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 2rem 0;
  font-size: 2.7rem;
  position: relative;
}

.drawer-list a::after {
  position: absolute;
  bottom: 29px;
  left: 19px;
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.drawer-list a:hover::after {
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
}

input.bar {
  display: none;
}

input.bar:checked ~ .drawer-list {
  -webkit-transform: translate(0);
          transform: translate(0);
}

input.bar:checked ~ .drawer-list li {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

input.bar:checked ~ .drawer-list li:nth-child(1) {
  -webkit-transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.bar:checked ~ .drawer-list li:nth-child(2) {
  -webkit-transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.bar:checked ~ .drawer-list li:nth-child(3) {
  -webkit-transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.bar:checked ~ .drawer-list li:nth-child(4) {
  -webkit-transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.bar:checked ~ label > i::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

input.bar:checked ~ label > i::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

label {
  z-index: 4;
  position: relative;
  height: 28.3px;
  width: 41px;
  position: fixed;
  top: 20px;
  right: 3%;
}

label.white i, label.white i::before, label.white i::after {
  background: #fff;
}

label:hover {
  cursor: pointer;
  opacity: 0.5;
}

label i, label i::before, label i::after {
  position: absolute;
  width: 100%;
  height: 5px;
  background-image: -webkit-gradient(linear, right top, left top, from(#FFF), to(#000));
  background-image: linear-gradient(-90deg, #FFF, #000);
  -webkit-animation: gradient 40s infinite;
          animation: gradient 40s infinite;
  background-size: 600%;
}

label i {
  top: 50%;
}

label i::before, label i::after {
  content: "";
  left: 50%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

label i::before {
  top: 0;
  -webkit-transform: translate(-50%, -14px);
          transform: translate(-50%, -14px);
}

label i::after {
  -webkit-transform: translate(-50%, 14px);
          transform: translate(-50%, 14px);
}

input.bar:checked ~ label > i {
  background: transparent;
}

.top {
  height: 801px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: repeating-linear-gradient(-45deg, #000 3% 9%, #f00, #fe0, #0f0, #00f, #71eaff, #fff 14% 20%);
  background-size: 81111%;
  -webkit-animation: gradient 400s infinite;
          animation: gradient 400s infinite;
}

.top h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 800;
  background: repeating-linear-gradient(-90deg, #fff, #000);
  background-size: 5000% 5000%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient 40s infinite;
          animation: gradient 40s infinite;
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .top h1 {
    font-size: 3.8rem;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about {
  text-align: center;
  background-image: url(https://imatabi.jp/wp-content/uploads/2018/08/hosei.jpg);
  background-size: cover;
  padding-bottom: 85px;
  background-attachment: fixed;
}

.about .me {
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.about img {
  border-radius: 50%;
}

.about .sub_title {
  font-size: 22px;
  padding-top: 29px;
  margin-bottom: 15px;
}

.about .explation {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.26rem;
}

.about .explation p {
  width: 90%;
  opacity: 1;
  margin: 0 auto;
}

.about .bold {
  font-weight: bold;
}

.about .red {
  color: red;
}

.service-cover {
  background-image: url(https://next.rikunabi.com/journal/wp-content/uploads/2018/03/20160302041704-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding-bottom: 45px;
  color: #fff;
}

.service-cover .services {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-cover .service {
  margin-bottom: 33px;
}

@media print, screen and (min-width: 768px) {
  .service-cover .service {
    width: 33%;
  }
}

.service-cover .service-photo {
  margin: 0 auto;
  width: 201px;
}

.service-cover img {
  border-radius: 50%;
}

.service-cover .service_title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 1.6rem;
}

.service-cover .service-explain {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

.service-cover .service-explain p {
  margin: 0 auto;
  width: 95%;
}

.service-cover .estimate {
  padding-top: 45px;
  font-size: 18px;
}

.works {
  text-align: center;
  background-image: url(https://i.gzn.jp/img/2015/07/16/smartphone-distract/00_m.jpg);
  background-size: cover;
  padding-bottom: 95px;
  padding-top: 33px;
}

.works .collection {
  margin-top: 55px;
  display: block;
  width: 81%;
}

.works .collection a {
  display: block;
}

@media print, screen and (min-width: 768px) {
  .works .collection a {
    width: 45%;
  }
}

@media print, screen and (min-width: 768px) {
  .works .collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.works .portfolio {
  overflow: hidden;
  position: relative;
}

.works .portfolio:nth-child(n+1) {
  margin-top: 80px;
}

@media print, screen and (min-width: 768px) {
  .works .portfolio:nth-child(n+1) {
    margin-top: 0;
  }
}

.works .portfolio:hover .mask1, .works .portfolio:hover .mask2 {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.works .portfolio:hover .mask1 {
  left: 0px;
}

.works .portfolio:hover .mask2 {
  right: 0px;
}

.works .portfolio:hover .caption {
  visibility: visible;
}

.works .mask1, .works .mask2 {
  width: 50%;
  height: 100%;
}

.works .mask1 {
  left: -50%;
}

.works .mask2 {
  right: -50%;
}

.works .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.4s step-end;
  transition: all 0.4s step-end;
  font-size: 16px;
}

@media print, screen and (min-width: 768px) {
  .works .caption {
    font-size: 1.2vw;
  }
}

.works img {
  display: block;
}

.skills {
  text-align: center;
  padding-bottom: 99px;
  background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/p/pcads_media/20210204/20210204114809.jpg);
  background-size: cover;
  color: #fff;
}

.skills .skill-session {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-top: 52px;
  padding-bottom: 24px;
}

@media print, screen and (min-width: 544px) {
  .skills .skill-session {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.skills .skill {
  margin-bottom: 29px;
  width: 61%;
  margin-left: auto;
  margin-right: auto;
}

@media print, screen and (min-width: 544px) {
  .skills .skill {
    width: 33%;
    margin-right: 11%;
  }
}

@media print, screen and (min-width: 768px) {
  .skills .skill {
    width: 21%;
    margin: 0;
    margin-bottom: 24px;
    margin-right: 8%;
  }
}

@media print, screen and (min-width: 544px) {
  .skills .skill:nth-child(odd) {
    margin-left: 11.5%;
  }
}

@media print, screen and (min-width: 768px) {
  .skills .skill:nth-child(odd) {
    margin-left: 0;
  }
}

@media print, screen and (min-width: 768px) {
  .skills .skill:nth-child(1), .skills .skill:nth-child(4) {
    margin-left: 10%;
  }
}

.skills img {
  width: 100%;
  margin-bottom: 10px;
}

.skills img:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.contact {
  background-image: url(https://www.knt.co.jp/holiday/images/zekkei_nature_mv.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #000;
}

.contact .depend {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.contact .mail {
  display: inline-block;
  font-size: 35px;
  padding: 1px 11px;
  border-radius: 3px;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.contact .mail:hover {
  background-color: #ef5f2b;
}

.contact footer {
  margin-top: 55px;
  text-align: center;
  padding: 15px;
}
